@media only screen and (min-width: 768px) {
  .articles_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .main_container {
    .main_header {
      .navbar_button {
        margin: 0 0.5rem;
        &.navbar_home,
        &.navbar_map {
          display: inline-block;
        }
      }
    }
  }

  // End of break point
}
