@media only screen and (min-width: 992px) {
  .main_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "header" "content " "footer";

    .main_footer {
      display: flex;
    }
  }

  .articles_container {
    grid-template-columns: repeat(5, 1fr);
  }

  // Home
  .main_home {
    // height: 50vh;
    .branding {
      h1 {
        font-size: 3rem;
      }
      img {
        height: 200px;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
