.main_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas: "header" "content " "footer";
  background: $white;

  .main_header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.5s;
    background: $light;
    padding: 0 1.5rem;
    // .brand {
    //   display: flex;
    //   align-items: center;
    //   transition: all ease 0.4s;
    //   &:hover {
    //     transform: translate3d(0, 4px, 0);
    //     opacity: 0.8;
    //     cursor: pointer;
    //   }
    //   img {
    //     width: 45px;
    //     height: 45px;
    //     border-radius: 50%;
    //   }
    //   h2 {
    //     margin-left: 0.5rem;
    //     margin-bottom: 0;
    //   }
    // }
  }
  .main_content {
    grid-area: content;
    background: $gray-300;
    overflow-y: auto;
    padding: 1.5rem;
    transition: all 0.4s ease;
    &.inactive {
      transition: all 0.4s ease;
    }
    &.inactive::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color: $dark, $alpha: 0.4);
    }
  }
  .main_shopping_cart {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 0;
    background: $dark;
    z-index: 100;
    transition: all 0.3s ease;
    .main_shopping_cart_container {
      padding: 1rem;
      max-height: 100vh;
      overflow-y: auto;
      // text-align: right;
      height: 100vh;
      scroll-behavior: smooth;
      .shopping_cart_close {
        color: $light;
        transition: all 0.1s ease;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 3rem;
        z-index: 15;
        &:hover {
          color: $primary;
          transform: translate3d(0, 2px, 0);
        }
      }
    }
  }

  .main_footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100vw;
    padding: 0 1.5rem;
    background: $light;
  }
}

.articles_container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  .article {
    transition: all 0.3s ease;
    // cursor: pointer;
    &:hover {
      transform: translate3d(0, 3px, 0);
      opacity: 0.9;
    }
  }
}
