// @import url("https://fonts.googleapis.com/css2?family=Roboto");
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Base
$font-size-base: 0.8rem;

// Colors
$dark: #3b3d38;
$primary: darken(
  $color: #efe64a,
  $amount: 10%,
);
$secondary: #333;
$light: #f0f2f5;

// Bootstrap variables changes
// $font-family-base: "Roboto", sans-serif;
$font-family-base: 'Ubuntu', sans-serif;
$card-bg: #222;
$card-border-radius: 5%;
@import '~bootstrap/scss/bootstrap';
// @import '../../node_modules/react-multi-carousel/lib/styles.css';

// Override theme

// Custom styles
@import './components';
@import './mobile';
@import './tablet.scss';
@import './tablet_landscape.scss';
@import './desktop';
@import './widescreen';
